<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    
    <source>
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/Templates</directory>
        </exclude>
    </source>
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_HOST" value="localhost"/>
        <env name="DB_PORT" value="5432"/>
        <env name="DB_NAME" value="ardent_pos_test"/>
        <env name="DB_USER" value="postgres"/>
        <env name="DB_PASS" value="password"/>
        <env name="JWT_SECRET" value="test-jwt-secret-key"/>
        <env name="JWT_EXPIRY" value="3600"/>
        <env name="SENDGRID_API_KEY" value="test-sendgrid-key"/>
        <env name="PAYSTACK_SECRET_KEY" value="sk_test_test"/>
        <env name="PAYSTACK_PUBLIC_KEY" value="pk_test_test"/>
    </php>
    
    <logging>
        <junit outputFile="tests/results/junit.xml"/>
        <teamcity outputFile="tests/results/teamcity.txt"/>
    </logging>
</phpunit>
